.li {
  list-style: none;
  text-align: left;
  margin: 10px 0;
  text-transform: capitalize;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
}

.li div {
  display: flex;
}

.li div span {
  padding: 0.2em;
  border: 1px solid #fff;
  margin: 0 0.4em;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  text-decoration: none;
}

.li div span img {
  width: 15px;
}
